FAMILYTV_CONTEXT=../../google
FAMILYTV_CONTAINER_NAME=familytv-google
FAMILYTV_ENV_FILE=./familytv.env
FAMILYTV_PORT=3000
FAMILYTV_LISTEN_HOST=100.x.y.z
FAMILYTV_ADB_HOME=/path/to/.android

# Optional second Google TV instance.
FAMILYTV_SECOND_CONTAINER_NAME=familytv-second
FAMILYTV_SECOND_ENV_FILE=./familytv-second.env
FAMILYTV_SECOND_PORT=3001
